.container
  .row
    %h1
      Greenfox Academy Test
      - if current_user
        %small
          = "Welcome, #{current_user.name}."

  .row.match-height-cols
    .col-md-6.bg-white
      %h3 Upload Solution and Test
      - if current_user
        = form_for current_user, html: { class: 'form' } do |f|
          .form-group
            = f.label :solution_file, "Solution file#{' currently: ' + current_user.solution_file.name if current_user.solution_file_stored?}"
            .input-group
              = f.file_field :solution_file, class: 'form-control'
              %span.input-group-btn
                = f.button 'Upload', type: :submit, data: { disable_with: 'Loading...' }, class: 'btn btn-primary'
        = form_for current_user, html: { class: 'form' } do |f|
          .form-group
            = f.label :test_file, "Test file#{' currently: ' + current_user.test_file.name if current_user.test_file_stored?}"
            .input-group
              = f.file_field :test_file, class: 'form-control'
              %span.input-group-btn
                = f.button 'Upload', type: :submit, data: { disable_with: 'Loading...' }, class: 'btn btn-primary'
        - if current_user.solution_file_stored? && current_user.test_file_stored?
          = link_to result_path, class: 'btn btn-primary btn-block' do
            = fa_icon 'check-square-o'
            Do my results
          - if current_user.last_runned
            = link_to "reports/#{current_user.uid}/index.html", class: 'btn btn-primary btn-block' do
              = fa_icon 'tasks'
              Get me my results from
              = timeago_tag current_user.last_runned
          - else
            = link_to '#', class: 'btn btn-warning btn-block' do
              = fa_icon 'spinner'
              Running...
        - else
          .alert.alert-warning
            Upload your Solution and Test file first.
      - else
        .motherfuckingcenter
          = link_to user_google_oauth2_omniauth_authorize_path, class: 'btn btn-lg btn-google btn-social' do
            = fa_icon 'google'
            Sign in with Google
    .col-md-6.bg-white
      %h3 Toplist
      %table.table.table-striped.table-hover
        %tr
          %th #
          %th Name
          %th Success
        = render @users
